
* {
    box-sizing: border-box;
}


.block {
    max-width: 1600px;
    min-width: 200px;
    max-height: 600px;
    min-height: 100px;
    background-color: aqua;
    margin: 25px 7px 15px 5px;
    padding: 5px 15px 7px 25px;
}

.inline {
    max-width: 1600px;
    min-width: 200px;
    max-height: 600px;
    min-height: 100px;
    background-color: aqua; // только здесь сработало
}

img {
    width: 500px;
    height: auto;
   
}