:root {
    --bg-color: #FFF9F4;
    --general-text: #312C27;
    --accent-bg: #FFA55C;
    --accent-text: #1F1711;

}

.body {
    font-family: "Montserrat", "Arial", sans-serif;
    background-color: var(--bg-color);
    color: var(--general-texttext);
    line-height: 1.5;
}

.wrapper {
    width: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.header {
    background: url("../img/decor/header-bg.png") 50% 100% / cover no-repeat;
    /* 50% центрирование при адаптиве - X, 100% - Y. */
}

.main {
    flex-grow: 1;
}

.main__about {
    margin-top: 140px;
}

.container {
    max-width: 1310px;
    margin: 0 auto;
    padding: 0 15px;
    height: 100%;
}

.button {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--accent-bg);
    padding: 3px 15px;
    border-radius: 100px;
    height: 62px;
    font-size: 16px;
    line-height: 1.6;
    font-weight: 500;
    transition: all .4s;
}

.button:hover {
    background: #FF9138;
}

.body__modal--open {
    overflow: hidden;
}

.modal {
    position: fixed;
    inset: 0;
    background-color: #4442409a;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
}

.body__modal-open .modal {
    opacity: 1;
    visibility: visible;
    transition: all .3s;
}

.modal__legend {
    position: relative;
}

.modal__legend span {
    content: "";
    position: absolute;
    top: 12px;
    left: 28px;
    font-size: 11px;
    opacity: 0;
    visibility: none;
    transition: all .5s;
}


.modal__window {
    background: #FFF9F4;
    max-width: 428px;
    border-radius: 20px;
    padding: 0 60px 60px 60px;
    justify-content: center;
    position: relative;
    animation-name: animate;
    animation-duration: 1s;
}

@keyframes animate {
    from {
        top: -320px;
        opacity: 0
    }

    to {
        top: 0;
        opacity: 1
    }
}


.modal__img-close {
    content: "";
    position: absolute;
    top: 20px;
    right: 20px;
}

.modal__img-close path,
.modal__img-close rect {
    transition: all .4s ease-in-out;
}


.modal__img-close:hover path,
.modal__img-close:hover rect {
    stroke: #AC907A;
}

.modal__img {
    margin-left: 12px;
    margin-top: -64px;
    margin-bottom: 15px;
}

.modal__title {
    font-family: 'Gabriola';
    font-size: 42px;
    line-height: .9;
    margin-bottom: 10px;
}

.modal__text {
    margin-bottom: 30px;
}

.modal__input {
    display: block;
    padding: 19px 28px;
    width: 100%;
    border-radius: 100px;
    border: 1px solid #AC907A;
    margin-bottom: 10px;
    transition: all .4s;
    background: #00000000;
    font-size: 16px;
    transition: all .4s ease-in-out;
}

.modal__input::placeholder {
    transition: all .4s ease-in-out;
}

.modal__input:hover {
    border-color: var(--accent-bg);
}

.modal__input:hover::placeholder {
    color: var(--accent-bg);
}

.modal__input:focus {
    padding: 26px 42px 12px 28px;
}

.modal__input:focus+span {
    opacity: 1;
    visibility: visible;
}


/* //// Burger Icon/////// */

.burger-icon {
    display: none;
    width: 50px;
    height: 50px;
    align-items: center;
    justify-content: center;
    border: 2px solid var(--general-text);
    border-radius: 50%;
    z-index: 11;

}

.burger-icon span,
.burger-icon span::after,
.burger-icon span::before {
    display: block;
    width: 30px;
    height: 3px;
    background-color: var(--general-text);
    border-radius: 100px;
    transition: all .4s;
}

.burger-icon span {
    position: relative;

}

.burger-icon span::after,
.burger-icon span::before {
    content: "";
    position: absolute;
}

.burger-icon span::after {
    top: -8px;
}

.burger-icon span::before {
    bottom: -8px;
}

.body--open-menu .burger-icon span {
    background: transparent;
}

.body--open-menu .burger-icon span::after {
    top: 0;
    transform: rotate(45deg);
}

.body--open-menu .burger-icon span::before {
    bottom: 0;
    transform: rotate(-45deg);
}

.body--open-menu {
    overflow: hidden;
}


/* ////////////////////////////////////////////// */

.header__innner {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding-top: 19px;
}

.header__nav-list {
    display: flex;
    gap: 40px;
}

.header__item {
    text-align: center;
}

.header__item-link {
    padding: 7px 0;
    position: relative;
    z-index: 1;

}

.header__item-link::before {
    content: "";
    position: absolute;
    top: -6px;
    left: -13px;
    width: 34px;
    height: 34px;
    z-index: -1;
    background-color: var(--accent-bg);
    border-radius: 50%;
    opacity: 0;
    transition: all .4s;
    z-index: -1;

}

.header__item-link:hover:before {
    opacity: 1;
}

.header__logo {
    z-index: 11;
    max-width: 174px;
}

.header__logo img {
    width: 100%;

}


/* hero__inner */

.hero {
    padding: 50px 0 140px;
}

.hero__inner {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    gap: 30px;
    margin-right: 247px;
}

.hero__text-date {
    line-height: 1.6;
    text-transform: uppercase;
    color: #B197B2;
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
}

.hero__text-date span {
    display: flex;
    align-items: center;
}

.hero__text-date :first-child::after {
    content: "";
    display: inline-flex;
    background-color: #B197B2;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    margin: 0 10px;
}

.hero__title {
    font-family: Gabriola;
    font-size: 74px;
    line-height: 0.82;
    color: var(--accent-text);
    margin-bottom: 30px;
    max-width: 519px;
}

.hero__p-text {
    max-width: 358px;
    margin-bottom: 40px;
}

.hero__button {
    max-width: 358px;
    width: 100%;
}

.hero__img {
    position: relative;
}

.hero__img>img {
    width: 100%;
}

.hero__img-control {
    position: absolute;
    left: calc(100% - 40px);
    bottom: 10%;
    display: flex;
    gap: 10px;
    align-items: center;
    max-width: 200px;

}

.hero__img-control-mobile {
    display: none;
}

.hero__img-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 78px;
    height: 78px;
    background: #FFE0CB;
    border-radius: 50%;
    flex-shrink: 0;
    position: relative;
}

.hero__img-button::before {
    content: "";
    position: absolute;
    inset: 5px;
    border: 1px solid var(--accent-bg);
    border-radius: 50%;
    opacity: 0;
    transition: all .4s;
}

.hero__img-button:hover:before {
    opacity: 1;
}

.hero__img-button img {
    padding-left: 8%;
}


/* ================ FOOTER ====================== */

.footer {
    background: #AB8261;
    padding: 60px 0 60px;
    color: var(--bg-color);
}

.footer__inner {
    display: grid;
    grid-template-columns: .9fr .8fr 1.2fr auto;
    gap: 20px;
    font-weight: 400;
}

.socials__items {
    display: flex;
}

.footer__col-logo {
    display: block;
    max-width: 240px;
    margin-top: -30px;
}

.footer__col-logo img {
    width: 100%;
}

.socials__items {
    margin-top: 20px;
    line-height: 2.4;
    gap: 10px;
    line-height: 0;

}

.socials__item-link path {
    transition: all .4s;
}

.socials__item-link:hover path {
    fill: #FFA55C;
}

.footer__col-nav-items {
    margin-bottom: 20px;

}

.footer__col-nav-items:last-child {
    margin-bottom: 0;
}

.footer__col-nav-link {
    position: relative;
    padding: 5px 0;
    z-index: 1;
}

.footer__col-nav-link::before {
    content: "";
    position: absolute;
    top: -6px;
    left: -13px;
    width: 34px;
    height: 34px;
    z-index: -1;
    background-color: var(--accent-bg);
    border-radius: 50%;
    opacity: 0;
    transition: all .4s;
}

.footer__col-nav-link:hover:before {
    opacity: 1;
    z-index: -1;
}

.footer__col-time {
    margin-bottom: 10px;

}

.footer__col-tel-box {
    margin-bottom: 47px;
}

.footer__col-tel {
    font-size: 24px;
    font-weight: 500;
    transition: all .4s;
}

.footer__col-tel:hover {
    color: var(--accent-bg)
}

.footer__col-copy {
    display: flex;
    gap: 5px;
}

.footer__col-copy-text {
    color: #DEC5B1;
}

.socials-mobile {
    display: none;
}

/* ///////////////////// section ---- about ///////////////// */

.about__inner {
    display: grid;
    grid-template-columns: 1fr 1.05fr;
    grid-template-rows: repeat(2, auto);
    gap: 53px;
}

.about {
    margin-bottom: 140px;
}

.about__img {
    position: relative;
    max-width: 603px;
    overflow: hidden;
    grid-row: 1/-1;
}

.about__img-modal {
    position: absolute;
    bottom: 25px;
    left: 30px;
    display: flex;
    max-width: 300px;
    align-items: center;
    gap: 10px;
    background: #957B97E5;
    border-radius: 20px;
    padding: 15px 20px;
}

.about__img-button {
    background-color: var(--bg-color);
    border-radius: 50%;
    padding: 16.77px;
    position: relative;
}

.about__img-button::before {
    content: "";
    position: absolute;
    inset: 5px;
    border: 1px solid #CEAAD0;
    border-radius: 50%;
    opacity: 0;
    transition: all .4s;
}

.about__img-button:hover:before {
    opacity: 1;
}

.about__img>img {
    border-radius: 20px;
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: 0 50%;


}

.about__img-modal-text {
    color: var(--bg-color);
}

.about__title {
    font-family: "Gabriola";
    font-size: 74px;
    line-height: 61px;
}

.about__top-text {
    margin-bottom: 30px;
}

.about__desc-text {
    margin-bottom: 40px;
}

.about__grid-item {
    background: #FFE0CB;
    max-width: 296px;
    display: flex;
    gap: 15px;
    padding: 29px 24px;
    border-radius: 20px;
    align-items: center;
}


.about__grid-item>img {
    padding: 18px;
    border: 1px solid #312C27;
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.about__grid-items {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 32px;
}


/* /////// section__program ////// */

.program__top {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.program__title {
    font-family: "Gabriola";
    font-size: 74px;
    margin-bottom: 20px;
}

.tab__control {
    display: flex;
    gap: 10px;
}

.tab__control-link {
    display: block;
    padding: 14px 30px;
    background: #FFF9F4;
    border-radius: 100px;
    box-shadow: #FFF9F4;
    box-shadow: 0px 4px 20px rgba(206, 195, 185, 0.3);
}

.tab__control-link:hover {
    background: #FFE0CB;
}

.tab__control-link--active {
    background: #FFE0CB;
    box-shadow: 0px 4px 20px rgba(206, 195, 185, 0);
}

.program__top {
    margin-bottom: 60px;
}

/* //////// media /////// */

@media (max-width: 1400px) {
    .hero__inner {
        margin-left: 50px;
    }

}

@media (max-width: 1100px) {
    .hero__inner {
        margin-right: 180px;
        margin-left: 30px;
        gap: 30px;
    }

    .hero__title {
        font-size: 65px;
    }

    .about__grid-item {
        padding: 15px 12px;
    }

    .about__grid-items {
        grid-column: -3 / -1;
        gap: 40px;

    }

    .about__grid-item {
        max-width: 100%;
    }

    .about__img {
        grid-row: auto;
    }

    .about__content {
        text-align: center;
        align-self: center;
    }

    .main__about {
        margin-top: 100px;
    }

    .about {
        margin-bottom: 100px;
    }
}

@media (max-width: 1000px) {
    .hero__img-control {
        position: static;
        gap: 27px;
        max-width: 377px;
        margin-top: 3vh;
    }

    .hero {
        padding: 1.7vh 0 70px;
    }

    .hero__inner {
        margin-right: 30px;
        margin-left: 30px;
        gap: 30px;
    }
}


@media (max-width: 980px) {
    .footer__inner {
        grid-template: repeat(2, auto) / repeat(3, auto);
        justify-content: center;
        text-align: center;
    }

    .footer__col:last-child {
        grid-column: -4 / -1;
        font-size: 40px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .footer__col-copy-text {
        font-size: 24px;
    }


}


@media (max-width: 900px) {
    .header__nav {
        position: fixed;
        background-color: var(--bg-color);
        inset: 0;
        padding: 25vh 50px 30px;
        z-index: 10;
        transform: translateY(-50%);
        opacity: 0;
        visibility: hidden;
        transition: all .4s;
    }

    .body--open-menu .header__nav {
        transform: translateY(0);
        opacity: 1;
        visibility: visible;
    }

    .header__nav-list {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 24px;
        font-weight: 500;
        gap: 4vh 40px;

    }

    .burger-icon {
        display: flex;
        cursor: pointer;
    }

    .about__img-modal {
        position: absolute;
        bottom: 0;
        left: 0;
        max-width: 300px;
        border-radius: 0px 20px 0px 0;
    }

    .about__title {
        font-size: 60px;
    }

}

@media (max-width: 850px) {
    .hero__title {
        font-size: 60px;
    }

    .hero__img-control {
        gap: 27px;
        margin-top: 7vh;
    }

    .hero__inner {
        margin-right: 25px;
        margin-left: 25px;
        gap: 73px;
    }

}


@media (max-width: 720px) {
    .socials-mobile {
        display: block;
        display: flex;
        justify-content: center;
    }

    .socials {
        display: none;

    }
}

@media (max-width: 720px) {
    .hero__title {
        font-size: 52px;
    }

    .hero__inner {
        margin-right: 20px;
        margin-left: 20px;
        gap: 55px;
    }
}

@media (max-width: 700px) {
    .about__img-modal {
        max-width: 350px;
        width: 100%;
        border-radius: 0;
    }

    .about__top-text {
        margin-bottom: 15px;

    }

    .about__inner {
        gap: 35px;
    }
}


@media (max-width: 680px) {
    .hero__img-girl {
        display: none;
    }


    .hero__inner {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .hero__content {
        display: flex;
        flex-direction: column;
        justify-self: center;
        align-items: center;
        text-align: center;
    }

    .hero__img {
        display: none;
    }

    .hero__img-control-mobile {
        display: flex;
        gap: 10px;
        align-items: center;
        max-width: 400px;
        margin-bottom: 30px;

    }

    .hero {
        padding: 7.7vh 0 70px;
    }
}

@media (max-width: 660px) {
    .about__inner {
        grid-template: none;
        display: flex;
        flex-direction: column;
    }

    .about__img {
        max-width: 500px;
        align-self: center;
    }

    .about__img-modal {
        max-width: 350px;
        width: 100%;
        border-radius: 0 20px 0 0;
    }

    .main__about {
        margin-top: 80px;
    }

    .about {
        margin-bottom: 80px;
    }

    .about__img {
        margin: 0 15px;
    }
}


@media (max-width: 650px) {
    .footer__inner {
        grid-template-columns: repeat(4, 1fr);
        grid-auto-rows: repeat(4, 1fr);
        grid-gap: 35px;
    }

    .footer__col:first-child {
        grid-column: 3 / 1;
    }

    .footer__col:last-child {
        grid-column: -1 / -5;
    }

    .footer__col:nth-child(2) {
        grid-column: 5 / 3;
    }

    .footer__col:nth-child(3) {
        grid-column: -2 / -4;
    }

}

@media (max-width: 580px) {
    .about__grid-items {
        grid-template-columns: none;
    }
}

@media (max-width: 500px) {
    .footer__col-tel-text {
        font-size: 28px;
        font-weight: 600;
    }

    .footer__col-copy-text {
        font-size: 20px;
    }

    .footer__col-nav-items {
        margin-bottom: 8px;
    }
    .modal__title {
        text-align: center;
    }

    .modal__window {
        padding: 0 30px 30px 30px;
    }

    .modal__text {
        text-align: center;
    }
}



@media (max-width: 410px) {
    .footer__col-logo {
        margin-top: -15px;
    }

    .footer__col-logo-text {
        font-size: 14px;
    }

    .footer__col-contact {
        display: flex;
        flex-direction: column;
        justify-self: center;
        width: 200px;
    }

    .about__img-modal {
        border-radius: 0;
    }
}


@media (max-width: 390px) {
    .hero__title {
        font-size: 42px;
    }

    .modal__img {
        width: 70%;
    }

    .modal__title {
        font-size: 28px;
        font-weight: 600;
        line-height: .9;
        margin-bottom: 10px;
    }

    .modal__title {
        text-align: center;
    }

    .modal__window {
        padding: 0 30px 30px 30px;
    }

    .modal__text {
        text-align: center;
    }
}

@media (max-width: 380px) {
    .about__img-modal {
        border-radius: 0;
    }

    .about__inner {
        gap: 25px;
    }
}


@media (max-width: 360px) {
    .about__img-modal-text {
        font-size: 16px;
        line-height: 1.3;
    }

    .about__img-button {
        border-radius: 50%;
        padding: 14px;

    }

    .about__img-icon {
        width: 28px;
        height: 28px;
    }

    .about__img-modal {
        padding: 10px 15px;
    }

    .main__about {
        margin-top: 50px;
    }

    .about {
        margin-bottom: 50px;
    }

    .about__desc-text {
        margin-bottom: 20px;
    }

    .about__title {
        font-size: 46px;
    }
}


@media (max-width: 350px) {
    .about__title {
        font-size: 50px;
    }

    .about__inner {
        gap: 15px;
    }
}