body {
  background-color: black;
  border: 5px solid grey;
}


.box__grey {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0;
  transform: translate(135%, 50%);
  width: 400px;
  height: 400px;
  background-color: #808080;
  border-radius: 10%;
}



.box__grey::before {
  content: "";
  position: absolute;
  top: -50px;
  left: -60px;
  display: block;
  width: 50px;
  height: 30px;
  background-color: #faf9f9;
}


.box__grey:hover::before {
  padding-right: 520px;
  height: 30px;
  background-color: #faf9f9;
  transition-duration: 4.9s;
}

.text {
  color: blue;
  visibility: hidden;
}

.box__grey:hover::after {
  content: "";
  display: block;
  background-color: aquamarine;
  color: red;
  transition: opacity .2s, visibility .2s;

}

.box__grey:hover p {
  visibility: visible;
  font-size: 30px;
  transition-delay: 5s;

}